<?xml version="1.0"?>

<model>
  <name>parquet2 plane</name>
  <version>1.0</version>
  <sdf version="1.3">model.sdf</sdf>

  <author>
    <name>Roberto Zegers</name>
    <email></email>
  </author>

  <description>
    A wooden parquet textured plane.
    Source of texture: http://simo-3d.blogspot.com/search/label/Texture%20parquet
    Last visited: 2019-Apr-03
  </description>

</model>
